<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>layout2</title>
  </head>

<style media="screen">

.inlineblock{
  color:blue;
  width:400px;
  border:5px dotted;
  display:inline-block;
  vertical-align:top;
  margin-top:15%;
  margin-left:100px;
}


</style>

  <body>


    <div class="inlineblock">These are important because pesto is a delicacy that deserves to be made right.
      Pasta should not be smothered in mediocrity! Or should it?
    </div>
    <div class="inlineblock">These are important because pesto is a delicacy that deserves to be made right.
      Pasta should not be smothered in mediocrity! Or should it?
    </div>
    <div class="inlineblock">These are important because pesto is a delicacy that deserves to be made right.
      Pasta should not be smothered in mediocrity! Or should it?
    </div>
    <div class="inlineblock">These are important because pesto is a delicacy that deserves to be made right.
      Pasta should not be smothered in mediocrity! Or should it?
    </div>
    <div class="inlineblock">These are important because pesto is a delicacy that deserves to be made right.
      Pasta should not be smothered in mediocrity! Or should it?
    </div>
    <div class="inlineblock">These are important because pesto is a delicacy that deserves to be made right.
      Pasta should not be smothered in mediocrity! Or should it?
    </div>

  </body>
</html>
