* {
  box-sizing: border-box;
}


.mass{
  background-color:lightgrey;
}

.juv{
  background-color: lightgrey;
}

.digi{
  background-color: lightgrey;
}

.death{
  background-color: lightgrey;
}

.title {
    font-family: arial;
    font-size: 20px;
    transform: rotate(90deg);
    color: red;
    position: fixed;
    left:-20px;
    top: 180px;
}

.hashtag {
    font-family: arial;
    font-size: 20px;
    right: 40px;
    top: 40px;
    position: fixed;
}


.chapters {
  color:white;
  text-decoration: none;
}

.chapters:hover {
  color: red;
  text-decoration: none;
}

.home {
  color:darkgrey;
  text-decoration: none;
}

.home:hover{
  color:black;
}

.bodytext{
  font-family:times;
  font-size:40px;
  width:70%;
  margin-left:10%;
  color:white;
}

.left {
width: 60%;
}

.right {
  width: 60%;
  margin-left:50%;
  text-align: right;
}

.footnote{
  font-size:20px;
}

.footnote:hover{
  color:black;
}

.largequote{
  font-size:150px;
  width:300px;
}

.quote{

}

.quote:hover{
  color:red;
}

.booktitle{
  color:black;
}

.link{
  text-decoration: none;
}

.bracket{
  color:darkgrey;
}


.index{
  background-color:lightgrey;
}

.index_title{
  font-family:arial;
  font-size:220px;
  color:black;
  left:2%;
  position:absolute;
}

.indexlinks{
  text-align:right;
  font-family:arial;
  font-size:70px;
  color:black;
  top:83%;
  right:3%;
  position:absolute;
}
