* {
  box-sizing: border-box;
}




.title {
    font-family: arial;
    font-size: 100px;
    transform: rotate(90deg);
    color: red;
    position: fixed;
    left: -170px;
    top: 210px;
}

.hashtag {
    font-family: times;
    font-size: 20px;
    right: 0px;
    top: 20px;
    position: fixed;
}

a {
  color:black;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: none;
}

.hashtag:hover{
  color:darkred;
}


.bodytext{
  font-family:times;
  font-size:25px;
  width:70%;
  margin-left:20%;
  background-color: peachpuff;
}

.ending{
  font-family:arial;
  font-size:30px;
  margin-left:40%;
  text-align:right;
  color:blue;

}

.left {
width: 60%;
background-color: cyan;
}

.right {
  width: 60%;
  margin-left: 40%;
  text-align: right;
  background-color: blue;
}


.homepage {
  background-color: red;
}
